@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl font-bold text-gray-900 pb-4
}

h2 {
  @apply text-2xl font-bold text-gray-900 pb-2
}

h3 {
  @apply text-xl font-bold text-gray-900 pb-2
}

label {
  @apply flex flex-col w-full
}

label > span {
  @apply text-sm font-semibold text-gray-500 pb-1
}

select {
  @apply w-full px-4 py-2 border rounded-md bg-gray-100 text-gray-700
}

select option {
  @apply bg-white text-gray-700
}

input {
  @apply w-full px-4 py-2 border rounded-md bg-gray-100 text-gray-700
}

a {
  @apply flex items-center space-x-1
}

form {
  @apply flex flex-col space-y-4 w-full
}

form button[type="submit"] {
  @apply bg-green-600 border border-green-700 px-4 py-1 rounded-md text-white
}

form button[type="reset"] {
  @apply border border-gray-400 px-4 py-1 rounded-md text-gray-800
}

main {
  @apply flex flex-col justify-start items-center pt-4
}

main article {
  @apply w-full px-2 lg:max-w-lg lg:px-0
}
